.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border: solid 1px;
  border-radius: 8px;
  padding: 30px;
  list-style: none;
  margin: 10px 0;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border: solid 1px;
  border-radius: 8px;
  padding: 30px;
  list-style: none;
  margin: 10px 0;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border: solid 1px;
  border-radius: 8px;
  padding: 30px;
  list-style: none;
  margin: 10px 0;
}

/* Write your code here. */

.card-heading {
  color: #326a9d;
}
.card-description {
  color: #cbced2;
  font-size: 14px;
  font-family: 'Roboto';
}
.card-btn {
  color: #326a9d;
  border: 2px solid #326a9d;
  height: 31px;
  font-size: 12px;
  background-color: #ffffff;
  border-radius: 6px;
  font-weight: 700;
}
